<!-- components/inboxNav -->
<ul class="inbox-nav mb-30">
  <li class="active">
    <a href="#"><i class="zmdi zmdi-inbox"></i> Inbox <span
        class="label label-danger ml-10">2</span></a>
  </li>
  <li>
    <a href="#"><i class="zmdi zmdi-email-open"></i> Sent Mail</a>
  </li>
  <li>
    <a href="#"><i class="zmdi zmdi-bookmark-outline"></i> Important</a>
  </li>
  <li>
    <a href="#"><i class="zmdi zmdi-folder-outline"></i> Drafts <span
        class="label label-info ml-10">30</span></a>
  </li>
  <li>
    <a href="#"><i class="zmdi zmdi-delete"></i> Trash</a>
  </li>
</ul>
<!-- /components/inboxNav -->