<!-- components/inboxNav -->
<ul class="inbox-nav mb-30">
  <li class="{% if type == 'inbox' %}active{% endif %}">
    <a href="/?state={{state}}"><i class="zmdi zmdi-inbox"></i> Recibidos <span
        class="label label-danger ml-10">2</span></a>
  </li>
  <li class="{% if type == 'sended' %}active{% endif %}">
    <a href="/?type=sended&amp;state={{state}}"><i class="zmdi zmdi-email-open"></i> Enviados</a>
  </li>
  <li class="{% if type == 'important' %}active{% endif %}">
    <a href="/?type=important&amp;state={{state}}"><i class="zmdi zmdi-bookmark-outline"></i> Destacados</a>
  </li>
  {# <li>
    <a href="#"><i class="zmdi zmdi-folder-outline"></i> Archivados <span
        class="label label-info ml-10">30</span></a>
  </li> #}
  <li class="{% if type == 'deleted' %}active{% endif %}">
    <a href="/?type=deleted&amp;state={{state}}"><i class="zmdi zmdi-delete"></i> Eliminados</a>
  </li>
</ul>
<!-- /components/inboxNav -->