<!-- components/labels -->
<h6 class="pl-15 mb-20">Labels</h6>
<ul class="inbox-nav mb-30">
    <li> <a href="#"> <i class=" fa fa-stop txt-danger"></i> Work </a> </li>
    <li> <a href="#"> <i class=" fa fa-stop txt-success"></i> Design </a> </li>
    <li> <a href="#"> <i class=" fa fa-stop txt-info "></i> Family </a>
    </li>
    <li> <a href="#"> <i class=" fa fa-stop txt-warning "></i> Friends </a>
    </li>
    <li> <a href="#"> <i class=" fa fa-stop txt-primary "></i> Office </a>
    </li>
</ul>
<!-- components/labels -->