<!-- components/online -->
<h6 class="pl-15 mb-20">online</h6>
<ul class="chat-list-wrap">
    <li class="chat-list">
        <div class="chat-body">
            <a href="javascript:void(0)">
                <div class="chat-data">
                    <img class="user-img img-circle" src="/img/user.png" alt="user" />
                    <div class="user-data">
                        <span class="name block capitalize-font">Clay Masse</span>
                        <span class="time block truncate txt-grey">No one saves us but ourselves.</span>
                    </div>
                    <div class="status away"></div>
                    <div class="clearfix"></div>
                </div>
            </a>
            <a href="javascript:void(0)">
                <div class="chat-data">
                    <img class="user-img img-circle" src="/img/user.png" alt="user" />
                    <div class="user-data">
                        <span class="name block capitalize-font">Evie Ono</span>
                        <span class="time block truncate txt-grey">Unity is strength</span>
                    </div>
                    <div class="status offline"></div>
                    <div class="clearfix"></div>
                </div>
            </a>
            <a href="javascript:void(0)">
                <div class="chat-data">
                    <img class="user-img img-circle" src="/img/user.png" alt="user" />
                    <div class="user-data">
                        <span class="name block capitalize-font">Madalyn Rascon</span>
                        <span class="time block truncate txt-grey">Respect yourself if you would have others
                            respect you.</span>
                    </div>
                    <div class="status online"></div>
                    <div class="clearfix"></div>
                </div>
            </a>
            <a href="javascript:void(0)">
                <div class="chat-data">
                    <img class="user-img img-circle" src="/img/user.png" alt="user" />
                    <div class="user-data">
                        <span class="name block capitalize-font">Mitsuko Heid</span>
                        <span class="time block truncate txt-grey">I’m thankful.</span>
                    </div>
                    <div class="status online"></div>
                    <div class="clearfix"></div>
                </div>
            </a>
            <a href="javascript:void(0)">
                <div class="chat-data">
                    <img class="user-img img-circle" src="/img/user.png" alt="user" />
                    <div class="user-data">
                        <span class="name block capitalize-font">Ezequiel Merideth</span>
                        <span class="time block truncate txt-grey">Patience is bitter.</span>
                    </div>
                    <div class="status offline"></div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </li>
</ul>
<!-- components/online -->