
{% extends 'main.html' %}

{% set wrapperClass = 'box-layout pa-0' %}

{% set pageWrapperClass = 'pa-0 ma-0 auth-page' %}

{% block content %}
    <!-- Row -->
    <div class="table-struct full-width full-height">
        <div class="table-cell vertical-align-middle auth-form-wrap">
            <div class="auth-form  ml-auto mr-auto no-float">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="sp-logo-wrap text-center pa-0 mb-30">
                            <a href="/">
                                <img class="brand-img mr-10" src="../img/logo.png" alt="brand"/>
                                <span class="brand-text"></span>
                            </a>
                        </div>
                        <div class="mb-30">
                            <h3 class="text-center txt-dark mb-10">Olvidé contraseña</h3>
                            <h6 class="text-center txt-grey nonecase-font">Te enviaremos un link de restauración a tu correo</h6>
                        </div>	
                        <div class="form-wrap">
                            <form action="/forgot-password" method="post">
                                <div class="form-group">
                                    <label class="control-label mb-10" for="email">Correo electrónico</label>
                                    <input type="email" class="form-control" required="" id="email" name="email" placeholder="Ingresar correo electrónico">
                                </div>
                                
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-warning btn-rounded">Restaurar</button>
                                </div>
                            </form>
                        </div>
                    </div>	
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->	
{% endblock %}