<!-- components/inboxDropdowns -->
<div class="btn-group">
  <a data-toggle="dropdown" href="#" class="btn  all" aria-expanded="false">
    Todos
    <i class="fa fa-angle-down "></i>
  </a>
  <ul class="dropdown-menu">
    <li><a href="/?type={{type}}"> Todos</a></li>
    <li><a href="/?type={{type}}&amp;state=viewed"> Leidos</a></li>
    <li><a href="/?type={{type}}&amp;state=no-viewed"> Sin leer</a></li>
  </ul>
</div>
{# <div class="btn-group">
  <a data-toggle="dropdown" href="#" class="btn  blue">
    Mover a
    <i class="fa fa-angle-down "></i>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#">Personal</a></li>
    <li><a href="#">Social</a></li>
    <li class="divider"></li>
    <li><a href="#">Promotional</a></li>
    <li class="divider"></li>
    <li><a href="#">Updates</a></li>
  </ul>
</div> #}
<div class="btn-group">
  <a data-toggle="dropdown" href="#" class="btn  blue" aria-expanded="false">
    Más
    <i class="fa fa-angle-down "></i>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#"><i class="fa fa-eye"></i> Marcar como leido</a></li>
    <li><a href="#"><i class="fa fa-eye-slash"></i> Marcar como no leido</a></li>
    <li><a href="#"><i class="fa fa-star"></i> Marcar como destacado</a></li>
    {# <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
    <li class="divider"></li> #}
    <li><a href="#"><i class="fa fa-trash-o"></i> Eliminar</a></li>
  </ul>
</div>
<!-- /components/inboxDropdowns -->