<!-- components/inboxDropdowns -->
<div class="btn-group">
  <a data-toggle="dropdown" href="#" class="btn  all" aria-expanded="false">
    All
    <i class="fa fa-angle-down "></i>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#"> None</a></li>
    <li><a href="#"> Read</a></li>
    <li><a href="#"> Unread</a></li>
  </ul>
</div>
<div class="btn-group">
  <a data-toggle="dropdown" href="#" class="btn  blue">
    Move to
    <i class="fa fa-angle-down "></i>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#">Personal</a></li>
    <li><a href="#">Social</a></li>
    <li class="divider"></li>
    <li><a href="#">Promotional</a></li>
    <li class="divider"></li>
    <li><a href="#">Updates</a></li>
  </ul>
</div>
<div class="btn-group">
  <a data-toggle="dropdown" href="#" class="btn  blue" aria-expanded="false">
    More
    <i class="fa fa-angle-down "></i>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
    <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
  </ul>
</div>
<!-- /components/inboxDropdowns -->