<!-- components/inboxTable -->
<div class="table-responsive mb-0">
    <table class="table table-inbox table-hover mb-0">
        <tbody>
            {% for email in emails %}
            <tr class="{% if not email.viewed %}unread{% endif %}">
                <td class="inbox-small-cells">
                    <div class="checkbox checkbox-default inline-block">
                        <input type="checkbox" id="checkbox012" />
                        <label for="checkbox012"></label>
                    </div>
                    <i class="zmdi zmdi-star inline-block font-16 {% if email.important %} inbox-started {% endif %}"></i>
                </td>
                <td class="view-message  dont-show">{{ email.name }} {% if not email.viewed %} <span class="label label-warning pull-right">nuevo</span>{% endif %}
                </td>
                <td class="view-message ">{{ email.subject }}</td>
                <td class="view-message  text-right">
                    {% if email.attachment %}<i class="zmdi zmdi-attachment inline-block mr-15 font-16"></i>{% endif %}
                    <span class="time-chat-history inline-block">{{ email.created_at }}</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- components/inboxTable -->
