RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ^.*\.(jpg|css|js|gif|png|map)$ [NC]
RewriteRule ^public/bower_components/(.*)$ https://%{SERVER_NAME}/bower_components/$1 [R=301,NC,L]
RewriteRule ^vendors/bower_components/(.*)$ https://%{SERVER_NAME}/bower_components/$1 [R=301,NC,L]
RewriteCond %{REQUEST_URI} !^.*\.(jpg|css|js|gif|png|map)$ [NC]
RewriteRule ^(.+)$ index.php [QSA,L]