<div class="container-fluid attachment-mail mt-40 mb-40">
  <div class="download-blocks mb-20">
    <span class="pr-15"><i class="zmdi zmdi-attachment-alt pr-10"></i>3 attachments</span>
    <a href="#"><i class="zmdi zmdi-download pr-10"></i>Download</a>
  </div>
  <ul>
    <li>
      <a href="#" class="atch-thumb">
        <div class="attached-img-container" style="background-image:url(../img/gallery/equal-size/mock1.jpg)"></div>
        <div class="file-name">
          Image 1
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="atch-thumb">
        <div class="attached-img-container" style="background-image:url(../img/gallery/equal-size/mock2.jpg)"></div>
        <div class="file-name">
          Image 2
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="atch-thumb">
        <div class="attached-img-container" style="background-image:url(../img/gallery/equal-size/mock3.jpg)"></div>
        <div class="file-name">
          Image 3
        </div>
      </a>
    </li>
  </ul>
</div>