<div class="container-fluid attachment-mail mt-40 mb-40">
  {% if attachment %}
  <div class="download-blocks mb-20">
    {# <span class="pr-15"><i class="zmdi zmdi-attachment-alt pr-10"></i>3 adjuntos</span> #}
    <span><i class="zmdi zmdi-download pr-10"></i>Descargar</span>
  </div>
  <ul>
    {% for attachment in attachments %}
    <li>
      <a href="/attachments/{{id}}/{{ attachment.save_name }}" class="atch-thumb">
        <div class="attachment attached-img-container" >
          <i class="fa fa-paperclip"></i>
        </div>
        <div class="file-name text-center" style="width: 100px;overflow: hidden;text-overflow: ellipsis;">
          {{ attachment.name }}
        </div>
      </a>
    </li>
    {% endfor %}  
  </ul>
  {% endif %}
</div>