{% extends 'main.html' %}

{% set wrapperClass = 'theme-1-active primary-color-blue slide-nav-toggle' %}

{% set topMenu = true %}

{% set rightSidebar = true %}

{% block javasripts %}
    {% if errors is defined %}
        <script>
            $(document).ready(function(){
                $('#composeModal').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}

{% block content %}

    {{ include('components/title.html') }}
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default card-view pa-0">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <div class="mail-box">
                            <div class="row">
                                <aside class="col-lg-3 col-md-4 pr-0">

                                    {{ include('components/compose.html') }}

                                    {{ include('components/inboxNav.html') }}

                                    {% if labels %}
                                        {{ include('components/labels.html') }}
                                    {% endif %}

                                    {% if withChat %}
                                        {{ include('components/online.html') }}
                                    {% endif %}

                                </aside>

                                <aside class="col-lg-9 col-md-8 pl-0">
                                    <div class="panel panel-refresh pa-0">
                                        <div class="refresh-container">
                                            <div class="la-anim-1"></div>
                                        </div>
                                        <div class="panel-heading pt-20 pb-20 pl-15 pr-15">
                                            <div class="pull-left">
                                                <h6 class="panel-title txt-dark">
                                                    {{ typeName }}
                                                </h6>
                                            </div>
                                            <div class="pull-right">
                                                <form role="search" class="inbox-search inline-block pull-left mr-15">
                                                    <div class="input-group">
                                                        <input name="example-input1-group2" class="form-control"
                                                            placeholder="Buscar" type="text">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn  btn-default"
                                                                data-target="#search_form" data-toggle="collapse"
                                                                aria-label="Close" aria-expanded="true"><i
                                                                    class="zmdi zmdi-search"></i></button>
                                                        </span>
                                                    </div>
                                                </form>
                                                <a href="#" class="pull-left inline-block refresh">
                                                    <i class="zmdi zmdi-replay"></i>
                                                </a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="panel-wrapper collapse in">
                                            <div class="panel-body inbox-body pa-0">
                                                {% block body %}{% endblock %}
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
{% endblock %}
